.row:before,
.row:after {
	content: '';
	display: table;
	clear: both;
}
.row .col {
	float: left;
	box-sizing: border-box;
}
.row .col100 {
	width: 100%;
}
.row .col75 {
	width: 75%;
}
.row .col70 {
	width: 70%;
}
.row .col65 {
	width: 65%;
}
.row .col50 {
	width: 50%;
}
.row .col35 {
	width: 35%;
}
.row .col30 {
	width: 30%;
}
.row .col25 {
	width: 25%;
}